{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

	<div class="main-container">
	<header>Date Planner</header>
	<p class="subtitle">An all-in-one planner for your date</p>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<div class="main-buttons">

	<a href="/signup">
		<button class="dateplan-buttons3" id="btn">Start</button>
	</a>
	<br>
    <a href="/logout">
		<button class="dateplan-buttons4" id="btn">Log out</button>
	</a>
		<img width="280px;" src="/static/img/main.png">
	</div>
	</div>
{% endblock %}