p {
    color: blue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.input {
    padding: 5px;
    border-radius: 10%;
    border-width: 1px;
}

.inputContainer {
    margin-bottom: 5%;
}

.deadContainer {
    display: none;
}

.header {
    display: block;
}

.form {
    display: block;
}