body {
    background-color: #FBF7F2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.activityContainer {
    width: 100%;
    display: flex;
    position: relative;
}

.businessContainer {
    border: solid #ff7e36;
    border-radius: 10%;
    margin-right: 2%;
    padding: 1%;
    background-color: white;
}

.focusedText {
    color: #ff7e36;
}

.activityNameContainer {
    width: 100%;
    padding: 0;
}

.weatherContainer {
    position: absolute;
    bottom: 0;
    border-top-right-radius: 10%;
    width: 100%;
}

.innerWeatherContainer {
    display: flex;
    border-top: 1px solid;
    border-radius: 8%;
    margin-right: 16px;
}

.weatherDetails {
    flex: 1
}

.backButton {
    position: absolute;
    top: 2%;
    right: 1%;
}